body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;
  }
  
  h1 {
    color: #333;
  }
  
  #lives, #hint, #teaser {
    color: #666;
  }
  
  .guessform {
    margin-top: 200px; /* Adjust this value to create space for the hangman image */
}
  
  input[type="text"] {
    padding: 5px;
    margin-right: 10px;
  }
  
  input[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
  }
  
  #gameOver {
    color: red;
    font-size: 25px;
  }
  
  #gameStatus {
    color: green;
    font-size: 25px;
  }
  .hangman-part {
    display: none;
  }
  .visible {
    display: block;
  }

  .hangman-part {
    position: absolute;
}

#head {
    top:  20px; /* Adjust this value to position the head */
    left: 50%; /* Position the head in the center */
    transform: translateX(-50%); /* Center the head horizontally */
}

#body {
    top: 40px; /* Adjust this value to position the body below the head */
    left: 50%; /* Position the body in the center */
    transform: translateX(-50%); /* Center the body horizontally */
}

#right-arm {
    top: 55px; /* Adjust this value to position the left arm */
    left: 5px; /* Adjust this value to position the left arm */
}

#left-arm {
    top: 55px; /* Adjust this value to position the right arm */
    right: 5px; /* Adjust this value to position the right arm */
}

#right-leg {
    top: 70px; /* Adjust this value to position the left leg */
    left: 5px; /* Adjust this value to position the left leg */
}

#left-leg {
    top: 70px; /* Adjust this value to position the right leg */
    right: 5px; /* Adjust this value to position the right leg */
}
#hangman-container {
  position: relative; /* Set parent container as the reference for absolute positioning */
}


#hangman {
    position: absolute;
    top: -1px; /* Move the hangman down by 15px */
    left: 50%; /* Position the hangman container in the center horizontally */
    transform: translateX(-50%); /* Center the hangman container horizontally */
}

.hangmanplatform {
    position: absolute;
    top: 0px; /* Adjust this value to position the platform */
    left: 50%; /* Position the platform in the center */
    transform: translateX(-50%); /* Center the platform horizontally */
}
#platform {
    width: 200px;
    background-color: #333;
    border-radius: 3px;
    position: absolute;
    top: 0px; /* Adjust this value to position the platform */
    left: 50%; /* Position the platform in the center */
    transform: translateX(-50%); /* Center the platform horizontally */
    font-size: 10px
}

#rope {
    width: 10px;
    height: 30px;
    background-color: #333;
    position: absolute;
    top: 0px; /* Adjust this value to position the rope */
    left: 50%; /* Position the rope in the center */
    transform: translateX(-50%); /* Center the rope horizontally */
}